:root{
    --background-color: #1e293b;
    --navbar-color: #e2e8f0;
}

.nav{

background-color: var(--navbar-color);
color: black;
text-align: center;
height: 10vh;
padding: 0.5rem 0rem;

}
body{
    background-color: var(--background-color);
    color: white;
    margin: 0px;
}
.bulltes{
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 0rem 0.5rem;
}
.container{
    text-align: center;
    padding: 1rem;
}
.dates{
    margin: 0px;
    text-align: center;
    
}
.input{
    padding: 1rem;
    border-radius:15px ;
    border: none;
}
.click{
    background-color: var(--navbar-color);
    width: 8rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    margin:1rem;
}

.name{
    padding: 0.7rem;
    margin: 1rem;
    border: none;
    border-radius: 20px;
    text-align: center;
}
.nameot{
    
}